/* Los estilos de tu proyecto */
.img-taxi{
  background-image: url("../assets/images/taxi.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 100vh;
}
